body {
  margin: 0;
  font-family: "Open Sans", sans-serif;

  /* background-color: peachpuff; */
  background-color: DarkSlateGray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sigmar One", cursive;
  color: goldenrod;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
